
.app-layout {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px; 
}

.dataset-section {
    flex: 1; 
    max-width: 300px; 
}


.model-builder-section {
    flex: 4; 
}

.notepad-section {
    flex-basis: 100%; /* Forces this section to take the full row */
    width: 100%; /* Ensure it spans the entire row */
}

